<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Zurita" />
		<meta
			name="description"
			content="Validate HTML and CSS for multiple URLs in parallel and review the results in cards."
		/>
		<meta name="keywords" content="HTML, CSS, Validator, URLs, Astro" />
		<meta property="og:title" content="Dual Validator" />
		<meta property="og:type" content="website" />
		<meta
			property="og:description"
			content="Validate HTML and CSS for multiple URLs in parallel and review the results in cards."
		/>
		<meta name="theme-color" content="#e34f26" />
		<title>Dual Validator</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
</style>